@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Secular+One);

body
{
	/* required for scrollspy */
	position: relative;
	padding-bottom: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #f1f0e9;
}
.navbar
{
	background-color: #022835 !important;
	border-bottom: 5px solid #26596a;
}
.navbar .navbar-brand
{
	font-family: 'Secular One', sans-serif;
}
.navbar .svg-inline--fa
{
	margin-left: 12px;
}

footer
{
	margin-top: 10px;
}

hr
{
	border: 0px;
	height: 1px;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 0%, #8e8b6f 50%, #ffffff 100%);
	background: -webkit-linear-gradient(left, #ffffff 0%, #8e8b6f 50%, #ffffff 100%);
	background: linear-gradient(to right, #ffffff 0%, #8e8b6f 50%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}

a
{
	color: #6C939F;
}
a:hover, a:active, a:focus
{
	color: #457585;
}

/* //////////////////////////////////// BUTTONS //////////////////////////// */

.btn
{
	border-radius: 0px;
	border: 0px;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
}
.btn-default
{
	color: #104050;
	background-color: #d6d3c3;
}
.btn-default:hover, .btn-default:active, .btn-default:focus
{
	color: #26596A;
	background-color: #e6e3d3;
}
.btn-default.disabled
{
	color: #aaa;
	background-color: #e6e3d3;
}
.btn-primary
{
	color: #fff;
	background-color: #104050;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus
{
	color: #fff;
	background-color: #26596A;
}
.btn-primary.disabled
{
	color: #ccc;
	background-color: #26596A;
}

/* ////////////////////////////////////// CARD ///////////////////////////// */

.card-default
{
	border-radius: 0px;
	border: 0px;
	background-color: #fff;
	margin-bottom: 30px;
}
.card-default .card-header
{
	border: 0px;
	border-radius: 0px;
	background-color: #457585;
	color: #fff;
	font-family: 'Secular One', sans-serif;
	font-size: 1.1rem;
}
.card-default .card-img
{
	border-radius: 0;
}
.card-default .imgcontainer
{
	padding: 1.25rem 1.25rem 0 1.25rem;
	border: 1px solid #d6d3c3;
	border-top: none;
	border-bottom: none;
}
.card-default .card-title
{
	color: #fff;
	color: #022835;
	border-bottom: 2px solid #26596A;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.1rem;
	margin-top: 10px;
}
.card-default .card-body
{
	border: 1px solid #d6d3c3;
	border-top: none;
}
.card-default p
{
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #104050;
}
.card-default .btn .svg-inline--fa
{
	margin-left: 5px;
}
.card-default .card-footer
{
	border-radius: 0;
	border: 1px solid #d6d3c3;
	border-top: none;
}
.card-default .card-footer .badge
{
	border: 1px #bbb dotted;
	background: #e3e3e3;
	color: #022835;
	border-radius: 0;
	font-size: 80%;
}

.card-default .btn.float-right
{
	margin-left: 5px;
	margin-top: 5px;
}
.card-default:hover
{
	box-shadow: 0px 0px 8px #ccc;
}

/* //////////////////////////////////// COLORS ///////////////////////////// */

/* blue */

.background-color-primary-0 { background-color: #022835; }
.background-color-primary-1 { background-color: #104050; }
.background-color-primary-2 { background-color: #26596A; }
.background-color-primary-3 { background-color: #457585; }
.background-color-primary-4 { background-color: #6C939F; }
.background-color-primary-5 { background-color: #9CC3CF; }
.background-color-primary-6 { background-color: #BCE3EF; }
.background-color-primary-7 { background-color: #e0e7ea; }

.background-gradient-primary-diagonal-full
{
	background: #022835;
	background: -moz-linear-gradient(45deg,  #022835 0%, #6c939f 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#022835), color-stop(100%,#6c939f));
	background: -webkit-linear-gradient(45deg,  #022835 0%,#6c939f 100%);
	background: -o-linear-gradient(45deg,  #022835 0%,#6c939f 100%);
	background: -ms-linear-gradient(45deg,  #022835 0%,#6c939f 100%);
	background: linear-gradient(45deg,  #022835 0%,#6c939f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022835', endColorstr='#6c939f',GradientType=1 );
}

/* sand */
.background-color-secondary-0 { background-color: #8e8b6f; }
.background-color-secondary-1 { background-color: #a9a386; }
.background-color-secondary-2 { background-color: #cac5a8; }
.background-color-secondary-3 { background-color: #d6d3c3; }
.background-color-secondary-4 { background-color: #f1f0e9; }


.background-color-secondary-2 a
{
	color: #8e8b6f;
}
.background-color-secondary-2 a:hover, .background-color-secondary-2 a:active, .background-color-secondary-2 a:focus
{
	color: #a9a386;
}

/* //////////////////////////////////// CONTENT //////////////////////////// */

.content
{
}
.content-block
{
	padding-top: 71px;
	margin-bottom: -41px;
}
.content-block h2
{
	font-family: 'Secular One', sans-serif;
}

/* ///////////////////////////////////// HOME ////////////////////////////// */

#home
{
	/* do not leave space above the home jumbotron */
	padding-top: 61px;
}
.jumbotron
{
	color: #fff;
	margin-bottom: 0px;
}
.jumbotron h1
{
	font-family: 'Secular One', sans-serif;
}
.jumbotron .tagline
{
	font-family: 'Roboto Condensed', sans-serif;
	color: #D2D6D8;
	text-transform: uppercase;
}

/* //////////////////////////////////// ABOUT ////////////////////////////// */

#about .container
{
	background-image: url('../img/blobup.svg');
	background-repeat: no-repeat;
	background-position: right bottom;
}

#about .container
{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ////////////////////////////////// CONTACT ////////////////////////////// */

#contact
{
	color: #fff;
	margin-bottom: 0px;
}
@media (min-width: 768px)
{
	#contact > div
	{
		background-image: url('../img/blobdown.svg');
		background-repeat: no-repeat;
		background-position: 30% top;
	}
}
#contact a
{
	text-decoration: none;
}
#contact .container
{
	padding-top: 10px;
}
#contact li
{
	display: inline;
}
#contact #back-to-top .svg-inline--fa
{
	margin-right: 5px;
}
#contact #icons .svg-inline--fa
{
	margin-left: 10px;
}

/* ////////////////////////////////// CAROUSEL ///////////////////////////// */

.carousel-inner
{
	cursor: pointer;
}
.carousel-indicators
{
	bottom: -25px;
}
.carousel-indicators li
{
	background-color: #666;
	cursor: pointer;
}
.carousel-indicators li.active
{
	background-color: #aaa;
}